.main-header {
  @extend %centered;
  padding-top: 170px;
  height: 850px;
  background: linear-gradient($color-prime, transparent 90%),
              linear-gradient(0deg, $color-body, transparent),
              $color-prime url('#{$path-img}/mountains.jpg') no-repeat center;
  background-size: cover;
  color: white;
}